:root {
    --main-bg-color: #ffffff;
    --main-fg-color: #000000;

    --code-bg-color: #dddddd;
    --code-fg-color: #272822;

    --link-fresh-color: #0072b2;
    --link-stale-color: #a84275;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #222222;
        --main-fg-color: #ffffff;

        --code-bg-color: #000000;
        --code-fg-color: #eeeeee;

        --link-fresh-color: #56b4e9;
        --link-stale-color: #0072b2;
    }
}

html {
    overflow-y: scroll
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font: 14px/1.5 sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

header {
    font-family: monospace;
}

h1,
h2,
h3 {
    line-height: 1.2
}

code:not(pre>code) {
    color: var(--code-fg-color);
    background: var(--code-bg-color);
    padding: 2px;
}

pre {
    color: var(--main-bg-color);
    background: var(--main-fg-color);
    padding: 24px;
    overflow-x: auto
}

a {
    color: var(--link-fresh-color);
}

a:visited {
    color: var(--link-stale-color);
}

article {
    padding: 24px 0
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto
}
